
body {
	font-family: sans-serif;
	margin: 0;
}

main {
	width: 100%;
	height: 100%;
	/*background-color: red;*/
}

#detecting {
	display: none;
	position: fixed;
	top: 1em;
	left: 1em;
	font-size: 12pt;
	color: rgb(100, 200, 100);
}

#greeting {
	transform: translateY(100%);
	text-align: center;
	font-size: 128pt;
	color: rgb(64, 64, 64);
}
